<%- include('partials/head') %>
<body>
  <%- include('partials/navbar') %>
  <h1>Homeopage <%= 'hello world'.toUpperCase()%></h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo incidunt doloremque quia tenetur cum ratione similique perferendis ducimus! Debitis animi maiores harum cupiditate nobis nemo praesentium tenetur consequuntur obcaecati id.
  Molestias iusto repellat laboriosam veritatis odit et non magnam voluptates neque cupiditate culpa doloremque sint, eligendi vitae. Beatae enim molestiae, incidunt repudiandae, aut doloremque architecto tenetur aperiam reiciendis magni inventore.
  Autem dignissimos minus consequatur earum, incidunt recusandae laborum, perferendis repellendus temporibus ea porro eius omnis velit pariatur hic animi consectetur ipsam illo numquam sit! Totam placeat cumque error quisquam corrupti.
  Officiis adipisci et doloremque laboriosam quae repellendus id. Aliquam saepe at numquam itaque maxime consequuntur dignissimos aliquid laboriosam accusantium, ad sequi, expedita fugit repellendus nam quos molestiae. Accusantium, quos sunt!
  Velit adipisci, consectetur nostrum aliquid eveniet commodi veniam ratione vel repellat soluta ipsa vitae, dolorem possimus unde itaque facilis accusantium sint cum nulla? Harum quod accusamus cupiditate. Molestiae, hic nobis.</p>

  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis ullam debitis, corrupti eius quibusdam autem sunt neque dolorum praesentium? Magnam sapiente quam itaque nostrum incidunt provident quibusdam, consectetur ipsam fuga!</p>
</body>
</html>